@import "../common/variables.pcss";

ruby:hover {
  color: #4b8fba;
  cursor: pointer;
  text-decoration: underline;
}

rt input {
  text-align: center;
}

[data-valid="false"] {
  color: #e56568;
}

.js--unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
